# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.idea/
/.archive/
/.run/
/tmp/
/local/
/music-news-db/
/music-news-db_archive/

docker-compose-*.yml
sql/postgres_public_news_dump.sql
docker-compose-*.yml.save
*.sqlite
local/run-local.sh
